.menu {
    position: fixed;
    bottom: var(--space-md);
    width: 80%;
    left: 10%;
    display: flex;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    background-color: var(--topbar-sticky-background);
    -webkit-backdrop-filter: blur(var(--space-sm));
    backdrop-filter: blur(var(--space-sm));
    border-radius: 26px;

    a {
        color: var(--color-dark-grey);
        text-decoration: none;
        height: 48px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            display: block;
            font-size: var(--font-sm);
            margin-top: 2px;
        }

        &.active {
            color: var(--color-green);

            &:hover {
                color: var(--color-green-light);
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .menu {
        a {
            flex-direction: row;

            span {
                display: inline-block;
                font-size: var(--font-md);
                margin-left: var(--space-sm);
                margin-top: 0;
            }
        }
    }
}