.parameter {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--space-sm);
    padding-bottom: var(--space-sm);

    .parameter-title {
        display: flex;
        height: 45px;
        align-items: center;

        a {
            text-decoration: none;
            color: var(--color-green);

            flex: 1;
        }
    }

    .parameter-body {
        font-size: var(--font-sm);

        &.hidden {
            display: none;
        }
    }
}