@for (parameter of parameters(); track parameter.id) {
<div class="parameter">
    <div class="parameter-title">
        <a href="#"
           (click)="selectParameter($event, parameter)">{{ parameter.title }}</a>
        <button pButton
                iconOnly
                [rounded]="true"
                [text]="true"
                severity="success"
                (click)="show(parameter)">
            @if (parameter.show) {
            <svg data-p-icon="angle-up"
                 [size]="ICON_SIZES.NORMAL"></svg>
            }
            @else {
            <svg data-p-icon="angle-down"
                 [size]="ICON_SIZES.NORMAL"></svg>
            }
        </button>

    </div>
    <div class="parameter-body"
         [class.hidden]="!parameter.show">
        {{ parameter.body }}
    </div>
</div>
}