@if (idUser) {
<div class="request-item">
    <div class="request-item-header">
        <div class="request-item-user">
            <app-user-photo [id]="idUser" />
            <div class="request-item-user-info"
                 popupUser
                 [popupUserInput]="idUser"
                 [popupUserShow]="!isMobile()"
                 (click)="showUser(idUser, request().user?.username || '')">
                <label [class.request-item-user-info-mobile]="isMobile()">{{request().user?.username}}</label>
                <br>
                <span>
                    <i class="pi pi-star"></i> {{request().user?.reputation}} ({{request().user?.votes}})
                </span>
            </div>
        </div>
        <div class="request-item-date">
            {{request().date}}
        </div>
    </div>
    <a href="#"
       class="request-item-title"
       (click)="openRequest($event)">{{request().title}}</a>
    <div class="request-item-body">{{request().body}}</div>
    <div class="request-item-footer">
        <div class="request-item-info">
            <div class="request-item-reward">
                <span [pTooltip]="`Recompensa: ${request().reward} créditos`">
                    <i class="pi pi-dollar"></i> {{request().reward}}
                </span>
            </div>
            <div class="request-item-parameters">
                @for (parameter of request().parameters; track parameter.idParameter) {
                <div class="request-item-parameter"
                     popupParameter
                     [popupParameterInput]="parameter.idParameter"
                     [popupParameterShow]="!isMobile()">
                    <span [class.request-item-parameter-mobile]="isMobile()"
                          (click)="showParameter(parameter)">{{ parameter.title }}</span>
                    @if (parameter.num > 1) {
                    x{{ parameter.num }}
                    }
                    @if (parameter.valueString !== null) {
                    - {{ parameter.valueString }}
                    }
                    @if (parameter.valueNum !== null) {
                    - {{ parameter.valueNum }}
                    }
                </div>
                }
            </div>
        </div>
        <div class="request-item-enrollment">
            <div class="request-item-enrolled"
                 [class.request-item-enrolled-mobile]="isMobile()"
                 popupEnrolled
                 [popupEnrolledInput]="request().enrolled"
                 [popupEnrolledShow]="!isMobile()"
                 (click)="showEnrolled(request().enrolled)">
                Apuntados: {{ request().participantsTotal }} <span class="spacer">-</span> Aceptados: {{ request().participantsAccepted }}
            </div>
            @if (request().status === 0) {
            <div class="request-item-action">
                @if (request().isEnrolled) {
                <p-button label="Desapúntate"
                          severity="danger" />
                }
                @else {
                <p-button label="Apúntate!"
                          severity="success" />
                }
            </div>
            }
        </div>
    </div>
</div>
}