@if (idUser) {
<div class="request-item">
    <div class="request-item-header">
        <div class="request-item-user">
            <app-user-photo [id]="idUser" />
            <div class="request-item-user-info">
                {{request().user?.username}}
                <br>
                <span>
                    <i class="pi pi-star"></i> {{request().user?.reputation}} ({{request().user?.votes}})
                </span>
            </div>
        </div>
        <div class="request-item-date">
            {{request().date}}
        </div>
    </div>
    <a [routerLink]="['/styx/chat', idUser, request().id]"
       class="request-item-title">{{request().title}}</a>
    <div class="request-item-body">{{request().body}}</div>
    <div class="request-item-footer">
        <div class="request-item-info">
            <div class="request-item-reward">
                <span [pTooltip]="`Recompensa: ${request().reward} créditos`">
                    <i class="pi pi-dollar"></i> {{request().reward}}
                </span>
            </div>
            <div class="request-item-parameters">
                @for (parameter of request().parameters; track parameter.idParameter) {
                @if (!isMobile()) {
                <div class="request-item-parameter"
                     popupParameter
                     [popupParameterInput]="parameter.idParameter">
                    {{ parameter.title }}
                    @if (parameter.num > 1) {
                    x{{ parameter.num }}
                    }
                    @if (parameter.valueString !== null) {
                    - {{ parameter.valueString }}
                    }
                    @if (parameter.valueNum !== null) {
                    - {{ parameter.valueNum }}
                    }
                </div>
                }
                @else {
                <div class="request-item-parameter"
                     (click)="showParameter(parameter)">
                    {{ parameter.title }}
                    @if (parameter.num > 1) {
                    x{{ parameter.num }}
                    }
                    @if (parameter.valueString !== null) {
                    - {{ parameter.valueString }}
                    }
                    @if (parameter.valueNum !== null) {
                    - {{ parameter.valueNum }}
                    }
                </div>
                }
                }
            </div>
        </div>
        <div class="request-item-enrollment">
            <div class="request-item-enrolled">
                Apuntados: {{ request().participantsTotal }} <span class="spacer">-</span> Aceptados: {{ request().participantsAccepted }}
            </div>
            <div class="request-item-action">
                @if (request().isEnrolled) {
                <p-button label="Desapúntate"
                          severity="danger" />
                }
                @else {
                <p-button label="Apúntate!"
                          severity="success" />
                }
            </div>
        </div>
    </div>
</div>
}