<div class="popup-enrolled"
     [class.fixed]="!isMobile()">
    @for (enrollment of (enrolled() || []); track enrollment.idUser){
    <div class="popup-enrolled-user">
        <div class="user-photo">
            <app-user-photo [id]="enrollment.idUser" />
        </div>
        <div class="user-info">
            {{ enrollment.username }}
            <span>
                <svg data-p-icon="star"
                     [size]="ICON_SIZES.LARGE"></svg> {{ enrollment.reputation }} ({{ enrollment.votes }})
            </span>
        </div>
        @if (enrollment.status === 1) {
        <div class="user-accepted">
            <svg data-p-icon="check-circle"
                 [size]="ICON_SIZES.LARGE"></svg>
        </div>
        }
    </div>
    }
</div>