<div class="home-container">
    <div class="col-left">
        <div class="user">
            <div class="user-data">
                <div class="user-photo">
                    <app-user-photo [id]="1"
                                    size="md" />
                </div>
                <div class="user-info">
                    <div class="user-name">{{ username }}</div>
                    <div class="user-reputation">
                        <svg data-p-icon="star"
                             [size]="ICON_SIZES.LARGE"></svg>
                        {{ reputation }} ({{ votes }})
                    </div>
                </div>
            </div>
            <div class="user-bio">
                @if (bio === null || bio === undefined) {
                Escribe algo para que te conozcan mejor.
                }
                @else {
                {{ bio }}
                }
                <button pButton
                        iconOnly
                        [rounded]="true"
                        [text]="true"
                        severity="success"
                        class="bio-button"
                        pTooltip="Editar bio">
                    <svg data-p-icon="pencil"
                         [size]="ICON_SIZES.NORMAL"></svg>
                </button>
            </div>
        </div>
        <div class="chats">
            @for (chat of chats(); track chat.id) {
            <app-user-message [chat]="chat"
                              [isMobile]="false" />
            }
        </div>
    </div>
    <div class="col-main">
        <div class="board-header">
            <div class="board-title">Tablón de noticias</div>
            <p-menu [model]="items"
                    [popup]="true"
                    #menu>
                <ng-template #item
                             let-item>
                    <a class="p-menu-item-link">
                        @switch (item.iconName) {
                        @case ('book') {
                        <svg data-p-icon="book"
                             [size]="ICON_SIZES.NORMAL"></svg>
                        }

                        @case ('sparkles') {
                        <svg data-p-icon="sparkles"
                             [size]="ICON_SIZES.NORMAL"></svg>
                        }

                        @case ('calendar') {
                        <svg data-p-icon="calendar"
                             [size]="ICON_SIZES.NORMAL"></svg>
                        }
                        }

                        <span class="ml-2">{{ item.label }}</span>
                    </a>
                </ng-template>
            </p-menu>
            <button pButton
                    iconOnly
                    (click)="menu.toggle($event)">
                <svg data-p-icon="ellipsis-v"
                     [size]="ICON_SIZES.NORMAL"></svg>
            </button>
        </div>
        @for (item of boardItems(); track item.id + item.kind) {
        @if (isMessage(item)) {
        <app-message-item [message]="item" />
        } @else if (isRequest(item)) {
        <app-request-item [request]="item"
                          [isMobile]="false" />
        }
        }
    </div>
</div>