@import "primeicons/primeicons.css";

:root {
    --font-family: 'Inter var', Inter, system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --background-color: #121212;
    --border-color: #3f3f46;
    --border-radius: 6px;
    --topbar-sticky-background: rgba(0, 0, 0, .3);
    --color-white: #fff;
    --color-dark-grey: #3f3f46;
    --color-green: #34d399;
    --color-green-light: #6ee7b7;
    --space-sm: .5rem;
    --space-md: 1rem;
    --font-sm: .75rem;
    --font-md: 1rem;
    --font-xl: 2rem;
}

html {
    font-size: 18px;
}

html,
body {
    font-family: var(--font-family);
    height: 100%;
    margin: 0;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.w-full {
    width: 100%;
}

.m-top {
    margin-top: 1rem;
}

.gap-1 {
    gap: .25rem;
}

.gap-4 {
    gap: 1rem;
}

.p-dialog-close-button {
    color: #34d399 !important;
}