@if (step() === 0) {
<div class="request-detail">
    @for (enrollment of (enrolled() || []); track enrollment.idUser){
    <div class="request-detail-user">
        <div class="user-photo">
            <app-user-photo [id]="enrollment.idUser" />
        </div>
        <div class="user-info">
            {{ enrollment.username }}
            <span>
                <svg data-p-icon="star"
                     [size]="ICON_SIZES.LARGE"></svg> {{ enrollment.reputation }} ({{ enrollment.votes }})
            </span>
        </div>
        @if (enrollment.status === 1) {
        <div class="user-accepted">
            <svg data-p-icon="check-circle"
                 [size]="ICON_SIZES.LARGE"></svg>
        </div>
        }
    </div>
    }
</div>

<div class="request-detail-footer">
    <button pButton
            styleClass="w-full"
            severity="success"
            (onClick)="goToClose()">
        Evento celebrado
    </button>
</div>
}

@if (step() === 1) {
<div class="request-detail-date-header">
    Indica la fecha en la que se realizó el evento
</div>
<div class="request-detail-date">
    <p-datepicker [(ngModel)]="completedAt"
                  [inline]="true" />
</div>
<div class="request-detail-footer">
    <button pButton
            styleClass="w-full"
            severity="success"
            (onClick)="closeRequest()">
        Finalizar
    </button>
</div>
}

@if (step() === 2) {
@for (vote of (votes() || []); track vote.id) {
<div class="request-detail-vote">
    <div class="vote-user-photo">
        <app-user-photo [id]="vote.idUserTo ?? 0" />
    </div>
    <div class="vote-user-info">
        {{ vote.userTo?.username }}
        <span>
            @for (i of [1, 2, 3, 4, 5]; track i) {
            <i class="star-vote pi"
               [class.pi-star-fill]="i <= (vote.vote ?? 0)"
               [class.pi-star]="i > (vote.vote ?? 0)"
               (click)="setVote(vote, i)"></i>
            }
        </span>
    </div>
</div>
}
<div class="request-detail-footer">
    <button pButton
            styleClass="w-full"
            severity="success"
            (onClick)="vote()"
            [disabled]="!votesFinished()">
        Votar
    </button>
</div>
}