@if (step() === 0) {
<div class="request-detail">
    @for (enrollment of (enrolled() || []); track enrollment.idUser){
    <div class="request-detail-user">
        <div class="user-photo">
            <app-user-photo [id]="enrollment.idUser" />
        </div>
        <div class="user-info">
            {{ enrollment.username }}
            <span>
                <i class="pi pi-star"></i> {{ enrollment.reputation }} ({{ enrollment.votes }})
            </span>
        </div>
        @if (enrollment.status === 1) {
        <div class="user-accepted">
            <i class="pi pi-check-circle"></i>
        </div>
        }
    </div>
    }
</div>

<div class="request-detail-footer">
    <p-button styleClass="w-full"
              label="Evento celebrado"
              severity="success"
              (onClick)="goToClose()" />
</div>
}

@if (step() === 1) {
<div class="request-detail-date-header">
    Indica la fecha en la que se realizó el evento
</div>
<div class="request-detail-date">
    <p-datepicker [(ngModel)]="completedAt"
                  [inline]="true" />
</div>
<div class="request-detail-footer">
    <p-button styleClass="w-full"
              label="Finalizar"
              severity="success"
              (onClick)="closeRequest()" />
</div>
}