.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &.photo-sm {
        width: 32px;
        height: 32px;
    }

    &.photo-md {
        width: 64px;
        height: 64px;
    }

    &.photo-xl {
        width: 128px;
        height: 128px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}